<section class="bsc-container">
  <h3>
    <%= link_to "List of all BSC Curricula", curriculums_path, class: 'btn btn-primary' %>
  </h3>
  <h2><%= "Here are our current course offerings in \"#{@curriculum.name}\"..." %></h2>
    <% @curriculum.courses.each do |course| %>
      <h4>
        <%= link_to curriculum_course_path(@curriculum, course) do %>
          <% if course.id == 1 %>
            <%= content_tag :span, course.name + " (Activated!)", :class => "btn btn-info" %>
          <% else %>
            <%= content_tag :span,course.name + " (Under Construction)", :class => "btn btn-success" %>
          <% end %>
        <% end %>
      </h4>
    <% end %>
</section>
