<div class="container">

  <header>
    <h1>CEP Volunteer Administrator Questionnaire</h1>
    <h4>
      <%= "Hello #{@admin_application.user.first_name}!" %>
    </h4>

    <h4>
      <%= "After you fill out this form, and then click the button below, we will respond to you within 72 hours. We will also automatically send a copy of this application to '#{@admin_application.user.email}' for your records." %>
    </h4>
  </header>

  <%= simple_form_for @admin_application do |f| %>
    <fieldset>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <h3>
              <%= f.input :response_first, as: :text, label: "Our first question to you..." %>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <h3>
              <%= f.input :response_second, as: :text, label: "Our second question to you..." %>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <h3>
              <%= f.input :response_third, as: :text, label: "Our third (really prying!!) question to you..." %>
            </h3>
          </div>
        </div>
        <br/>
        <h4>
          <%= "Thanks for filling this out #{@admin_application.user.first_name}! Press 'Submit Questionnaire' here and this will automatically be sent to CEP. You will also receive a copy of it in your inbox." %>
        </h4>

        <%= f.button :submit, "Submit Questionnaire", :class => "btn btn-success" %>
      </div>
    </fieldset>
  <% end %>

</div> <!-- class="container" -->