= simple_form_for [@assessment.course.curriculum, @assessment.course, @assessment], html: { class: 'form-horizontal' } do |f|
  .row
    .col-sm-4
      %hr
      %h2= f.label "Type of Assessment"
      %h2= f.select :type_of, options_for_select(["Quiz", "Test", "Exam"])
      %hr
      %h2= f.label "Part"
      %h2= f.collection_select(:part_id, @assessment.course.parts, :id, :name, prompt: "- Choose which Part the 'Test' or 'Quiz' is for. -")
      %hr
      %h2= f.label "Lesson"
      %h2= f.collection_select(:lesson_id, @assessment.course.lessons, :id, :name, prompt: "- Choose which Lesson the 'Quiz' is for. -")
      %hr
  .row
    .col-sm-4
      = f.simple_fields_for :questions do |question|
        = render 'question_fields', :f => question
      .links
        %h3= link_to_add_association 'add question', f, :questions
  %br
  = f.submit @assessment.new_record? ? "Build new Assessment" : "Edit this #{@assessment.type_of}", class: 'btn btn-success'

/   Inside your views, use the 'simple_form_for' with one of the Bootstrap form
/   classes, '.form-horizontal' or '.form-inline', as the following:
/     = simple_form_for(@user, html: { class: 'form-horizontal' }) do |form|