%section.site_title
  %hr
  %hr
  %hr
  %div{ 'ng-app' => 'Raffle' }
    %div{:'ng-controller' => 'RaffleCtrl'}
      = form_tag("/", "ng-submit" => "addEntry($event)") do
        %label
          Entry
        %br
        %input{"ng-model" => "newEntry.name"}/
        %br
        %button{:type => 'submit'}
          Submit Entry
      %ul
        %li{:'ng-repeat' => 'entry in entries'}
          {{entry.name}}
          %span.winner{"ng-class" => "{highlight: entry == lastWinner}", "ng-show" => "entry.winner"} WINNER
      %button{"ng-click" => "drawWinner()"} Draw winner

  %hr
  %hr
  %hr
  %hr
  %hr
  %hr
  %h2= link_to 'Paint it red', '/home', :id => 'redness'
  %hr
  %hr
  %h2= link_to 'Yell HELLO!!', '/home', :id => 'my-link'
  %hr
  %hr
  %hr
  = render 'intro_text', :current_user => current_user
  %hr
  -i = 1
  -@assessment.questions.each do |question|
    %hr
    %h3=i.to_s + ". " + question.question_content
    %span{:id => "question_#{question.id}"}= render 'answers_to_each_question', :question => question
    -i = i + 1
  = render 'edit_and_view_assessments', :assessment => @assessment if current_user.overseer_admin?

  %hr
  = render 'text_before_button', :current_user => current_user
  = link_to "Click here when #{@assessment.type_of} completed", "/grades/#{@grade.id}", method: 'patch', class: 'btn btn-success'

