%section.site_title
  %hr
  %input{"ng-model" => "newEntry.name", :type => "text"}/
  %hr
  {{newEntry.name}}
  %hr
  = render 'intro_text', :current_user => current_user
  %hr
  -i = 1
  -@assessment.questions.each do |question|
    %hr
    %h3=i.to_s + ". " + question.question_content
    %span{:id => "question_#{question.id}"}= render 'answers_to_each_question', :question => question
    -i = i + 1
  = render 'edit_and_view_assessments', :assessment => @assessment if current_user.overseer_admin?

  %hr
  = render 'text_before_button', :current_user => current_user
  = link_to "Click here when #{@assessment.type_of} completed", "/grades/#{@grade.id}", method: 'patch', class: 'btn btn-success'

