%section.site_title
  %hr
  %hr
  = render 'intro_text', :current_user => current_user
  %hr
  %div{ 'ng-app' => 'Chooser' }
    %div{:'ng-controller' => 'ChoiceController'}
      -i = 1
      -@assessment.questions.each do |question|
        %hr
        %h3=i.to_s + ". " + question.question_content
        %span{:id => "question_#{question.id}"}
          =# render 'answers_to_each_question', :question => question
          - question.answers.each do |answer|

            - choices = question.hash_of_answers_and_student_choices(current_user)

            - choice = choices[answer]
            - case choice.selected

            - when true
              %h3{"ng-click" => "selectChoice()"} #{answer}




              %h3=# link_to answer.answer_content, choice_path(choice), :method => :patch, :class => ['answer', 'clicked_on'], remote: true

            - when false
              %h3.answer{"ng-click" => "selectChoice()"} #{answer.answer_content}



              %h3=# link_to answer.answer_content, choice_path(choice), :method => :patch, :class => ['answer'], remote: true





        -i = i + 1
  = render 'edit_and_view_assessments', :assessment => @assessment if current_user.overseer_admin?

  %hr
  = render 'text_before_button', :current_user => current_user
  = link_to "Click here when #{@assessment.type_of} completed", "/grades/#{@grade.id}", method: 'patch', class: 'btn btn-success'

