%section.site_title
  %hr
  %h2="Your #{@assessment.type_of} for the #{@assessment.course.name} course in #{@assessment.course.curriculum.name}:"
  %hr
  -i = 1
  -@assessment.questions.each do |question|
    %hr
    %h3=i.to_s + ". " + question.question_content
    %span{:id => "question_#{question.id}"}= render 'answers_to_each_question', :question => question
    -i = i + 1
  = render 'edit_and_view_assessments', :assessment => @assessment if current_user.overseer_admin?
