%section.site_title
  = form_tag sessions_path, class: 'log_in' do
    %header
      %h1 Log in
    %h3= label_tag :email, "Email Address" # Using label_tag helps with 'feature' specs
    %h3= email_field_tag :email

    %h3= label_tag :password
    %h3= password_field_tag :password
    %br
    = submit_tag "Let's study English!", :class => "btn btn-primary"
    %h4= link_to "Forgot Password?", "#"  #forgot_password_path
 
    %h4= link_to "Click here to register if you are not yet a student.", log_in_path
