<section class="site_title">
  <%= form_tag sessions_path, class: 'log_in' do %>
    <header>
      <h1>Log in</h1>
    </header>
    <h3>
      <%= label_tag :email, "Email Address"  %>
    </h3>
    <h3 class="black_field">
      <%= email_field_tag :email %>
    </h3>
    <h3>
      <%= label_tag :password %>
    </h3>
    <h3 class="black_field">
      <%= password_field_tag :password %>
    </h3>
    <br/>
    <%= submit_tag "Let's study English!", :class => "btn btn-primary" %>
    <h4>
      <%= link_to "Forgot Password?", "#" %>
    </h4>
    <h4>
      <%= link_to "Click here to register if you are not yet a student.", log_in_path %>
    </h4>
  <% end %>
</section>
