<section class="bsc-container">
  <%= simple_form_for @volunteer_application do |f| %>
    <header>
      <h1>CEP Volunteer Application Form</h1>
      <h4>
        <%= "Hello #{@volunteer_application.user.name}!" %>
      </h4>

      <h4>
        <%= "After you fill out this form, and then click the button below, we will respond to you within 48 hours. We will also automatically send a copy of this application to '#{@volunteer_application.user.email}' for your records." %>
      </h4>
    </header>
    <fieldset>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <h3>
              <%= f.input :response_first, as: :text, label: "Our first question to you..." %>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <h3>
              <%= f.input :response_second, as: :text, label: "Our second question to you..." %>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <h3>
              <%= f.input :response_third, as: :text, label: "Our third (really prying!!) question to you..." %>
            </h3>
          </div>
        </div>
        <br/>
        <h4>
          <%= "Thanks for filling this out #{@volunteer_application.user.name}! Press 'Submit Application' here and this Volunteer Application will be automatically sent to CEP & you will also receive a copy of it in your inbox." %>
        </h4>

        <%= f.button :submit, "Submit Application", :class => "btn btn-success" %>
      </div>
    </fieldset>
  <% end %>
</section>