<header class="header">

  <nav id="nav" class="navbar navbar-default" id="nav-text-color">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="city-logo"> {{!-- to ensure flag stays beside title --}}
          <a class="navbar-brand" id="home-link" href="/">
            <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP+logo+small.png" alt="logo" class="img-responsive">
          </a>
        </div>

      </div> {{!-- .navbar-header --}}

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          {{!-- <li
            style="padding: 1em; padding-top: 1.1em;"
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
          </li> --}}
          {{!-- <li style="padding: 1em; padding-top: 1.1em;"><div class="line-it-button" style="display: none;" data-type="share-a" data-lang="en"></div></li> --}}
          {{!-- <li><a href="/auth/facebook">Facebook</a></li> --}}

          {{#unless dashboard_visible}}
            <li><a href="#page-top" id="place_1" class="page-scroll nav-hover">{{top}}</a></li>

            <li role="separator" class="divider"></li>

            {{#if volunteer_info_visible}}
              <li><a href="#volunteer-steps" id="place_6" class="page-scroll nav-hover">{{steps_to_volunteer}}</a></li>
            {{^}}
              <li><a href="#features" id="place_2" class="page-scroll nav-hover">{{features}}</a></li>

              <li role="separator" class="divider"></li>

              <li><a href="#get-started" id="place_3" class="page-scroll nav-hover">{{get_started}}</a></li>
              {{!-- <li><a href="#holistic" id="place_4" class="page-scroll">{{holistic}}</a></li> --}}
            {{/if}}

            <li role="separator" class="divider"></li>

            <li><a href="#contact-us" id="place_5" class="page-scroll nav-hover">{{contact_us}}</a></li>

            <li class="dropdown">
              <a href="" id="nav-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{student}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li id="backbone-app">
                  <a id="drop-down-link" class="modal-initiator"  href="#" data-toggle="modal" data-target="#loginmodal">
                    {{login_student}}
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li id="backbone-app">
                  <a id="drop-down-link" class="modal-initiator"  href="#" data-toggle="modal" data-target="#registerstudentmodal">
                    {{register_new_student}}
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li id="backbone-app">
                  <a id="drop-down-link" class="modal-initiator non-summer-university"  href="#" data-toggle="modal" data-target="#applicationmodal">
                    {{you_can_speak}}
                  </a>
                </li>
              </ul>
            </li>

            <li role="separator" class="divider"></li>

            <li class="dropdown">
              <a href="" id="nav-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{volunteer}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li id="backbone-app" class="volunteer_page">
                  <a id="drop-down-link" href="/volunteer_info">{{volunteer_info}}</a>
                </li>
                <li role="separator" class="divider"></li>
                <li id="backbone-app">
                  <a id="drop-down-link" class="modal-initiator"  href="#" data-toggle="modal" data-target="#registervolunteermodal">
                    {{register_new_volunteer}}
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li id="backbone-app" class="login-checker">
                  {{!-- <a id="drop-down-link" href="/log_in">{{login_volunteer}}</a> --}}
                  <a id="drop-down-link" class="coming-soon-vol" href="/volunteer_info">{{login_volunteer}}</a>
                </li>

                <li role="separator" class="divider"></li>

                <li id="backbone-app">
                  <a id="drop-down-link" class="modal-initiator"  href="#" data-toggle="modal" data-target="#loginmodal">
                    Admin Log In
                  </a>
                </li>
                
              </ul>
            </li>
            <li>
            <li class="national-flag">
              <span class="usa_flag">
                <img style="cursor: pointer;" src="/assets/usa.png" alt="Usa">
              </span>
            </li>
            <li role="separator" class="divider"></li>
            <li class="national-flag">
              <span class="thai_flag">
                <img style="cursor: pointer;" src="/assets/thailand.png" alt="Usa">
              </span>
            </li>

          {{^}} <!-- for unless.. dashboard_visible -->

            <li><a id="place_5" href="/log_out">Log Out (ออกจากระบบ)</a></li>

          {{/unless }} <!-- unless.. dashboard_visible -->

        </ul> <!-- nav navbar-nav navbar-right -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<script>
  // Enable scrolling navbar menu in mobile
  $(".navbar-collapse").css({ maxHeight: $(window).height() - $(".navbar-header").height() + "px" });

  // Thai / American flag
  $(".thai_flag").on("click tap", function() {
    if (sessionStorageAvailable("fragment")) {
      sessionStorage.setItem('language', "thai");
    }
    getCorrectPageWhenFlagClicked();
  });

  $(".usa_flag").on("click tap", function() {
    if (sessionStorageAvailable("fragment")) {
      sessionStorage.setItem('language', "english");
    }
    getCorrectPageWhenFlagClicked();
  });

  function getCorrectPageWhenFlagClicked() {
    if ($(".front-main-hbs").is(":visible")) {
      App.getFrontMainPage();
      App.getFooter();
    } else if ($(".entire-vol").is(":visible")) {
      App.getVolunteerPage();
      App.getFooter();
    }
  }

  // in tandem with "Maintain scroll position when flag clicked" in transitions.js
  $(".thai_flag").on("click", function() {
    $(window).scrollTop(sessionStorage.getItem("scrollTopPos"));
console.log(sessionStorage.getItem("scrollTopPos"));
    App.applcationView.render(); // to make modal have correct language
  });
  $(".usa_flag").on("click", function() {
    $(window).scrollTop(sessionStorage.getItem("scrollTopPos"));
    App.applcationView.render(); // to make modal have correct language
  });

  $(".nav-hover").mouseenter(function(){
    $(this).css("background-color", "#8BC34A");
  });
  $(".nav-hover").mouseleave(function(){
    $(this).css("background-color", "#2D3179");
  });


  $("#nav-dropdown").mouseenter(function(){
    $(this).css("background-color", "#8BC34A");
  });
  $("#nav-dropdown").mouseleave(function(){
    $(this).css("background-color", "#2D3179");
  });

  $(".dropdown-toggle").mouseenter(function(){
    $(this).css("background-color", "#8BC34A");
  });
  $(".dropdown-toggle").mouseleave(function(){
    $(this).css("background-color", "#2D3179");
  });

  // To ensure the nav link scrolls to correct position
  if ($(window).width() > 1024) {
    scrollPositioning($("a#place_1.page-scroll.nav-hover"), 60, 1100);
    scrollPositioning($("a#place_2.page-scroll.nav-hover"), 0, 1100);
    scrollPositioning($("a#place_3.page-scroll.nav-hover"), 0, 1100);
    scrollPositioning($("a#place_4.page-scroll.nav-hover"), 0, 1100);
    scrollPositioning($("a#place_5.page-scroll.nav-hover"), -60, 1100);
    scrollPositioning($("a#place_6.page-scroll.nav-hover"), 0, 1100);
  } else {
    scrollPositioning($("a#place_1.page-scroll.nav-hover"), 60, 0);
    scrollPositioning($("a#place_5.page-scroll.nav-hover"), -60, 0);
  }

  function scrollPositioning($link, position_offset, speed) {
    $link.on('click', function(e) {
    e.preventDefault();
    var hash = this.hash;
    $('html, body').animate({
        scrollTop: $(hash).offset().top + position_offset
      }, speed, function(){
        window.location.hash = hash;
      });
    });
  }

  // "Coming soon" sweet alert
  $("a.coming-soon-vol").on("click", function(e) {
    e.preventDefault();
    swal({
      title: "Coming Soon!",
      text: "Very soon, you will be able to connect with the CEP volunteer administrator in your organization!  We're very excited that soon Thai people will have the opportunity to learn English with you!",
      timer: 15000,
      showConfirmButton: true,
      animation: "slide-from-bottom"
    });
  });

  // To open application form
  $(".non-summer-university").on("click", function() {
    sessionStorage.setItem("student_type", "non_summer_university");
    openApplicationForm()
  });
  function openApplicationForm() {
    var class_times_collection = new ClassTimes();
    class_times_collection.fetch({
      success: function (class_times) {
        var student = new User();
        var class_times = class_times.toJSON().sort(function (a, b) {
          if (a.order_no > b.order_no) {
            return 1;
          }
          if (a.order_no < b.order_no) {
            return -1;
          }
          // a must be equal to b
          return 0;
        });
        this.applicationView = new ApplicationView({
          model: student,
          options: class_times
        });
        $("#applicationmodal").html(this.applicationView.render().el);
      },
      error: function (collection, response, options) {
        console.log("error");
      }
    });
  }

</script>

<script>
  if (sessionStorageAvailable("fragment")) {
    $("#home-link").on("click", function() {
      sessionStorage.setItem('fragment', "");
    });
  }
</script>

</header>

