<header class="header">

  <nav id="nav" class="navbar navbar-default" id="nav-text-color">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div> {{!-- to ensure flag stays beside title --}}
          <a class="navbar-brand" id="home-point">
            <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP+logo+small.png" alt="logo" class="img-responsive">
          </a>
        </div>

        <div class="sign-up">
          <a class="modal-initiator non-summer-university"  href="#" data-toggle="modal" data-target="#applicationmodal">{{sign_up}}</a>
        </div>

      </div> {{!-- .navbar-header --}}


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          {{#unless dashboard_visible}}
            {{!-- <li><a id="top-point" class="page-scroll nav-hover">{{top}}</a></li>

            <li role="separator" class="divider"></li> --}}

            {{#if volunteer_info_visible}}
              <li><a id="volunteer-steps-point" class="page-scroll nav-hover">{{steps_to_volunteer}}</a></li>
            {{^}}
              <li><a id="features-point" class="page-scroll nav-hover">{{features}}</a></li>

              <li role="separator" class="divider"></li>

              <li><a id="get-started-point" class="page-scroll nav-hover">{{get_started}}</a></li>
            {{/if}}

            <li role="separator" class="divider"></li>

            <li><a id="contact-us-point" class="page-scroll nav-hover">{{contact_us}}</a></li>

            <li class="dropdown">
              <a href="" id="nav-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{student}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li id="backbone-app">
                  <a id="drop-down-link" class="modal-initiator"  href="#" data-toggle="modal" data-target="#loginmodal">
                    {{login_student}}
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li id="backbone-app">
                  <a id="drop-down-link" class="modal-initiator"  href="#" data-toggle="modal" data-target="#registerstudentmodal">
                    {{register_new_student}}
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li id="backbone-app">
                  <a id="drop-down-link" class="modal-initiator non-summer-university"  href="#" data-toggle="modal" data-target="#applicationmodal">
                    {{you_can_speak}}
                  </a>
                </li>
              </ul>
            </li>

            <li role="separator" class="divider"></li>

            <li class="dropdown">
              <a href="" id="nav-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{volunteer}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li id="backbone-app" class="volunteer_page">
                  <a id="drop-down-link" href="/volunteer_info">{{volunteer_info}}</a>
                </li>
                <li role="separator" class="divider"></li>
                <li id="backbone-app">
                  <a id="drop-down-link" class="modal-initiator"  href="#" data-toggle="modal" data-target="#registervolunteermodal">
                    {{register_new_volunteer}}
                  </a>
                </li>
                <li role="separator" class="divider"></li>
                <li id="backbone-app" class="login-checker">
                  {{!-- <a id="drop-down-link" href="/log_in">{{login_volunteer}}</a> --}}
                  <a id="drop-down-link" class="coming-soon-vol" href="/volunteer_info">{{login_volunteer}}</a>
                </li>

                <li role="separator" class="divider"></li>

                <li id="backbone-app">
                  <a id="drop-down-link" class="modal-initiator"  href="#" data-toggle="modal" data-target="#loginmodal">
                    Admin Log In
                  </a>
                </li>
                
              </ul>
            </li>
            <li>
            <li class="national-flag">
              <span class="usa_flag">
                <img style="cursor: pointer; padding-top: 0.5em;" src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/usa_flag_circle.png" alt="Usa">
              </span>
            </li>
            <li role="separator" class="divider"></li>
            <li class="national-flag">
              <span class="thai_flag">
                <img style="cursor: pointer; padding-top: 0.5em;" src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/thailand_flag_circle.png" alt="Thai">
              </span>
            </li>

          {{^}} <!-- for unless.. dashboard_visible -->

            <li><a id="log-out" href="/log_out">Log Out (ออกจากระบบ)</a></li>

          {{/unless }} <!-- unless.. dashboard_visible -->

        </ul> <!-- nav navbar-nav navbar-right -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

</header>

