<header class="header">

  <nav id="nav" class="navbar navbar-default" id="nav-text-color">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="city-logo"> {{!-- to ensure flag stays beside title --}}
          <a class="navbar-brand" id="home-link" href="/">
            <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP+logo+small.png" alt="logo" class="img-responsive">
          </a>
          {{#if thai_language}}
            <span class="usa_flag" style="display: inline;">
              <img style="cursor: pointer;" src="/assets/usa.png" alt="Usa">
            </span>
          {{^}}
            <span class="thai_flag" style="display: inline;">
              <img style="cursor: pointer;" src="/assets/thailand.png" alt="Usa">
            </span>
          {{/if}}
        </div>

      </div> {{!-- .navbar-header --}}

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          {{!-- <li
            style="padding: 1em; padding-top: 1.1em;"
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
          </li> --}}
          {{!-- <li style="padding: 1em; padding-top: 1.1em;"><div class="line-it-button" style="display: none;" data-type="share-a" data-lang="en"></div></li> --}}
          {{!-- <li><a href="/auth/facebook">Facebook</a></li> --}}

          <li><a href="#page-top" id="place_1" class="page-scroll nav-hover">{{top}}</a></li>

          {{#if volunteer_page_below}}
            <li><a href="#volunteer-steps" id="place_6" class="page-scroll nav-hover">{{steps_to_volunteer}}</a></li>
          {{^}}
            <li><a href="#features" id="place_2" class="page-scroll nav-hover">{{features}}</a></li>
            <li><a href="#get-started" id="place_3" class="page-scroll nav-hover">{{get_started}}</a></li>
            {{!-- <li><a href="#holistic" id="place_4" class="page-scroll">{{holistic}}</a></li> --}}
          {{/if}}

          <li><a href="#contact-us" id="place_5" class="page-scroll nav-hover">{{contact_us}}</a></li>

          <li class="dropdown">
            <a href="" id="nav-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{student}}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li id="backbone-app">
                <a id="drop-down-link" href="/register_student">{{register_new_student}}</a>
              </li>
              <li role="separator" class="divider"></li>
              <li id="backbone-app" class="login-checker">
                <a id="drop-down-link" href="/log_in">{{login_student}}</a>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="" id="nav-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{volunteer}}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li id="backbone-app" class="volunteer_page">
                <a id="drop-down-link" href="/volunteer_info">{{volunteer_info}}</a>
              </li>
              <li role="separator" class="divider"></li>
              <li id="backbone-app">
                <a id="drop-down-link" href="/register_vol">{{register_new_volunteer}}</a>
              </li>
              <li role="separator" class="divider"></li>
              <li id="backbone-app" class="login-checker">
                <a id="drop-down-link" href="/log_in">{{login_volunteer}}</a>
              </li>
            </ul>
          </li>
          <li>
            {{!-- <a href="/log_out">Log Out</a> --}}
          </li>


        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<script>
  // Enable scrolling navbar menu in mobile
  // $(".navbar-collapse").css({ maxHeight: $(window).height() - $(".navbar-header").height() + "px" });

  // Thai / American flag
  $(".thai_flag").on("click tap", function() {
    if (sessionStorageAvailable("fragment")) {
      sessionStorage.setItem('language', "thai");
    }
    getCorrectPageWhenFlagClicked();
  });

  $(".usa_flag").on("click tap", function() {
    if (sessionStorageAvailable("fragment")) {
      sessionStorage.setItem('language', "english");
    }
    getCorrectPageWhenFlagClicked();
  });

  function getCorrectPageWhenFlagClicked() {
    if ($(".front-main-hbs").is(":visible")) {
      App.getFrontMainPage();
      App.getFooter();
    } else if ($(".entire-vol").is(":visible")) {
      App.getVolunteerPage();
      App.getFooter();
    }
  }

  // in tandem with "Maintain scroll position when flag clicked" in transitions.js
  $(".thai_flag").on("click", function() {
    $(window).scrollTop(sessionStorage.getItem("scrollTopPos"));
  });
  $(".usa_flag").on("click", function() {
    $(window).scrollTop(sessionStorage.getItem("scrollTopPos"));
  });

  $(".nav-hover").mouseenter(function(){
    $(this).css("background-color", "#8BC34A");
  });
  $(".nav-hover").mouseleave(function(){
    $(this).css("background-color", "#2D3179");
  });


  $("#nav-dropdown").mouseenter(function(){
    $(this).css("background-color", "#8BC34A");
  });
  $("#nav-dropdown").mouseleave(function(){
    $(this).css("background-color", "#2D3179");
  });

  $(".dropdown-toggle").mouseenter(function(){
    $(this).css("background-color", "#8BC34A");
  });
  $(".dropdown-toggle").mouseleave(function(){
    $(this).css("background-color", "#2D3179");
  });

  // To ensure the nav link scrolls to correct position
  if ($(window).width() > 550) {
    scrollPositioning($("a#place_1.page-scroll.nav-hover"), 60, 1700);
    scrollPositioning($("a#place_2.page-scroll.nav-hover"), 0, 1700);
    scrollPositioning($("a#place_3.page-scroll.nav-hover"), 0, 1700);
    scrollPositioning($("a#place_4.page-scroll.nav-hover"), 0, 1700);
    scrollPositioning($("a#place_5.page-scroll.nav-hover"), -60, 1700);
    scrollPositioning($("a#place_6.page-scroll.nav-hover"), 0, 1700);
  } else {
    scrollPositioning($("a#place_1.page-scroll.nav-hover"), 60, 0);
    scrollPositioning($("a#place_5.page-scroll.nav-hover"), -60, 0);
  }

  function scrollPositioning($link, position_offset, speed) {
    $link.on('click', function(e) {
    e.preventDefault();
    var hash = this.hash;
    $('html, body').animate({
        scrollTop: $(hash).offset().top + position_offset
      }, speed, function(){
        window.location.hash = hash;
      });
    });
  }

</script>

<script>
  if (sessionStorageAvailable("fragment")) {
    $("#home-link").on("click", function() {
      sessionStorage.setItem('fragment', "");
    });
  }
</script>

</header>

