<div class="front-main-hbs">

<div class="container-full main" id="page-top">
  <div class="row">
    <div class="col-md-12 backg">
      <div class="col-md-6 col-md-offset-3 inner col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
        <div class="text-box">
            {{#if thai_language}}
              {{> front/thai/_top_welcome }}
            {{^}}
              {{> front/english/_top_welcome }}
            {{/if}}
          {{!-- <div class="col-md-4">
            <p id="backbone-app"><a class="link-button" href="/volunteer_info">{{volunteer}}</a></p>
          </div> --}}
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xs-12 some-notes">
      {{#if thai_language}}
        {{> front/thai/_middle_welcome }}
      {{^}}
        {{> front/english/_middle_welcome }}
      {{/if}}
    </div>
  </div>
</div>


<!-- Features -->
<div class="container-full features" id="features">
  <h2 class="text-center features-text">{{features}}</h2>
  <div class="row">
     <div class="col-md-4">  
        <div class="picturing">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/On-site+classes.png" alt="Class Scene" align="middle">
          <div class="col-md-13 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
            {{#if thai_language}}
              {{> front/thai/_city_talk_class }}
            {{^}}
              {{> front/english/_city_talk_class }}
            {{/if}}
          </div>
        </div>
     </div>
     <div class="col-md-4"> 
        <div class="picturing">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Line+Logo.png" alt="Class Scene" align="middle">
          <div class="col-md-13 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
            {{#if thai_language}}
              {{> front/thai/_eng_conversation_partners }}
            {{^}}
              {{> front/english/_eng_conversation_partners }}
            {{/if}}
          </div>
        </div>
     </div>
     <div class="col-md-4">
        <div class="picturing">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/On-site+classes.png" alt="Class Scene" align="middle">
          <div class="col-md-13 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
            {{#if thai_language}}
              {{> front/thai/_community_boards }}
            {{^}}
              {{> front/english/_community_boards }}
            {{/if}}
          </div>
        </div>
     </div>
  </div>
  <div class="row">
     <div class="col-md-4">  
        <div class="picturing">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Conversation.png" alt="Class Scene" align="middle">
          <div class="col-md-13 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
            {{#if thai_language}}
              {{> front/thai/_conversation_groups }}
            {{^}}
              {{> front/english/_conversation_groups }}
            {{/if}}
          </div>
        </div>
     </div>
     <div class="col-md-4">
        <div class="picturing">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Conversation.png" alt="Class Scene" align="middle">
          <div class="col-md-13 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
            {{#if thai_language}}
              {{> front/thai/_online_classes }}
            {{^}}
              {{> front/english/_online_classes }}
            {{/if}}
          </div>
        </div>
     </div>
     <div class="col-md-4"> 
        <div class="picturing">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Conversation.png" alt="Class Scene" align="middle">
          <div class="col-md-13 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
            {{#if thai_language}}
              {{> front/thai/_ongoing_opportunities }}
            {{^}}
              {{> front/english/_ongoing_opportunities }}
            {{/if}}
          </div>
        </div>
     </div>
  </div>
  {{#if thai_language}}
    {{> front/thai/_in_addition }}
  {{^}}
    {{> front/english/_in_addition }}
  {{/if}}
</div> <!-- Features -->


<!-- Get Started -->
<div class="container-fluid work" id="get-started">
  <div class="container">
    <div class="row" id="starts">
      <div class="col-md-12 col-sm-12 col-xs-12 work-list">
        {{#if thai_language}}
          {{> front/thai/_get_started }}
        {{^}}
          {{> front/english/_get_started }}
        {{/if}}
        <div class="col-md-6 col-sm-12 col-xs-12 work-space">
          <a href="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP1.png" data-lightbox="image-1">
            <div class="featured-img">
              <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP1.png" alt="CEP 1" >
            </div>
            <h3>{{step_one}}</h3>
          </a>
        </div>
        <div>
          {{#if thai_language}}
            {{> front/thai/_get_started_one }}
          {{^}}
            {{> front/english/_get_started_one }}
          {{/if}}
        </div>
      </div>
    </div> <!-- row -->
    <div class="row" id="starts">
      <div class="col-md-12 col-sm-12 col-xs-12 work-list">
        <div class="col-md-6 col-sm-12 col-xs-12 work-space">
          <a href="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP2.png" data-lightbox="image-1">
            <div class="featured-img">
              <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP2.png" alt="CEP 2" >
            </div>
            <h3>{{step_two}}</h3>
          </a>
        </div>
        <div>
          {{#if thai_language}}
            {{> front/thai/_get_started_two }}
          {{^}}
            {{> front/english/_get_started_two }}
          {{/if}}
        </div>
      </div>
    </div> <!-- row -->
  </div>
</div> <!-- Process -->


<!-- Holistic -->
<div class="container-fluid work" id="holistic">
  <div class="container">
    <div class="row" id="starts">
      <div class="col-md-12 col-sm-12 col-xs-12 work-list">
        {{#if thai_language}}
          {{> front/thai/_holistic }}
        {{^}}
          {{> front/english/_holistic }}
        {{/if}}
        <div class="col-md-6 col-sm-12 col-xs-12 work-space">
          <a href="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP1.png" data-lightbox="image-1">
            <div class="featured-img">
              <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP1.png" alt="CEP 1" >
            </div>
            <h3>Holistic</h3>
          </a>
        </div>
        <div>
          {{#if thai_language}}
            {{> front/thai/_holistic_text }}
          {{^}}
            {{> front/english/_holistic_text }}
          {{/if}}
        </div>
      </div>
  </div>  <!-- container -->
</div> <!-- Holistic -->


<!-- Helping friends -->
<div class="container-fluid work" id="helping-friends">
  <div class="container">
    <div class="row" id="starts">
      <div class="col-md-12 col-sm-12 col-xs-12 work-list">
        <h2 class="text-center helping-text">{{helping_friends}}</h2>
        <div class="col-md-6 col-sm-12 col-xs-12 work-space">
          <a href="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP1.png" data-lightbox="image-1">
            <div class="featured-img">
              <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP1.png" alt="CEP 1" >
            </div>
            <h3>Friends Helping Friends</h3>
          </a>
        </div>
        <div>
          {{#if thai_language}}
            {{> front/thai/_helping_friends_text }}
          {{^}}
            {{> front/english/_helping_friends_text }}
          {{/if}}

          
        </div>
      </div>
    </div> <!-- row -->
  </div>  <!-- container -->
</div> <!-- Helping Friends -->

</div> {{!-- front-main-hbs --}}
