<div class="front-main-hbs">

<div class="container-fluid">

<!-- Welcome top -->
<div class="container-full main" id="page-top">
  <div class="row">
    <div class="col-md-12 backg">
      <div id="welcome-box" class="col-md-6 col-md-offset-3 inner col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
        <div class="text-box">
          {{#if thai_language}}
            {{> front/thai/_top_welcome }}
          {{^}}
            {{> front/english/_top_welcome }}
          {{/if}}

          {{!-- <div class="col-md-4">
            <p id="backbone-app"><a class="link-button" href="/volunteer_info">{{volunteer}}</a></p>
          </div> --}}
        </div>
      </div>
    </div>
  </div> {{!-- row --}}

  <div class="row">
    <div id="mycarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          {{#if window_big}}
            <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Welcome+wide.png" alt="wide picture" class="img-responsive">
          {{^}}
            <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Welcome+mobile.png" alt="narrow picture" class="img-responsive">
          {{/if}}
          <div class="carousel-caption">
            {{#if thai_language}}
              {{> front/thai/_welcome_caption }}
            {{^}}
              {{> front/english/_welcome_caption }}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div> {{!-- row --}}
</div>


<!-- Features -->
<div class="container-full features" id="features">
  <h2 class="text-center features-text">{{features}}</h2>
  <div class="row">
     <div class="col-xs-12 col-sm-4">  
        <div class="picturing">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Features1.png" alt="Class Scene" align="middle" class="img-responsive">
          <div class="col-md-12 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
            {{!-- {{#if thai_language}}
              {{> front/thai/_city_talk_class }}
            {{^}}
              {{> front/english/_city_talk_class }}
            {{/if}} --}}
          </div>
        </div>
     </div>
     <div class="col-xs-12 col-sm-4"> 
        <div class="picturing">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Features2.png" alt="Class Scene" align="middle" class="img-responsive">
          <div class="col-md-12 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
            {{#if thai_language}}
              {{> front/thai/_eng_conversation_partners }}
            {{^}}
              {{> front/english/_eng_conversation_partners }}
            {{/if}}
          </div>
        </div>
     </div>
     <div class="col-xs-12 col-sm-4">
        <div class="picturing">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Features1.png" alt="Class Scene" align="middle" class="img-responsive">
          <div class="col-md-12 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
            {{#if thai_language}}
              {{> front/thai/_community_boards }}
            {{^}}
              {{> front/english/_community_boards }}
            {{/if}}
          </div>
        </div>
     </div>
  </div>
  <div class="row">
     <div class="col-xs-12 col-sm-4">  
        <div class="picturing">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Features4.png" alt="Class Scene" align="middle" class="img-responsive">
          <div class="col-md-12 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
            {{#if thai_language}}
              {{> front/thai/_conversation_groups }}
            {{^}}
              {{> front/english/_conversation_groups }}
            {{/if}}
          </div>
        </div>
     </div>
     <div class="col-xs-12 col-sm-4">
        <div class="picturing">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Features4.png" alt="Class Scene" align="middle" class="img-responsive">
          <div class="col-md-12 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
            {{#if thai_language}}
              {{> front/thai/_online_classes }}
            {{^}}
              {{> front/english/_online_classes }}
            {{/if}}
          </div>
        </div>
     </div>
     <div class="col-xs-12 col-sm-4"> 
        <div class="picturing">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Features6.png" alt="Class Scene" align="middle" class="img-responsive">
          <div class="col-md-12 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
            {{#if thai_language}}
              {{> front/thai/_ongoing_opportunities }}
            {{^}}
              {{> front/english/_ongoing_opportunities }}
            {{/if}}
          </div>
        </div>
     </div>
  </div>
  {{#if thai_language}}
    {{> front/thai/_in_addition }}
  {{^}}
    {{> front/english/_in_addition }}
  {{/if}}
</div> <!-- Features -->


<!-- Get Started -->
<div class="container-full work" id="get-started">
  <div class="container">
    <div class="row" id="starts" >
      <div class="col-md-12 col-sm-12 col-xs-12 work-list">
        {{#if thai_language}}
          {{> front/thai/_get_started }}
        {{^}}
          {{> front/english/_get_started }}
        {{/if}}
        <div class="col-md-5 col-sm-12 col-xs-12 work-space">
          <a href="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Portrait.png" data-lightbox="image-1">
            <div class="featured-img">
              <img style="padding: 10px;" align="top" src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Portrait.png" alt="CEP 1" >
            </div>
            {{!-- <h3>{{step_one}}</h3> --}}
          </a>
        </div>
        <div>
          {{#if thai_language}}
            {{> front/thai/_get_started_one }}
          {{^}}
            {{> front/english/_get_started_one }}
          {{/if}}
        </div>
      </div>
    </div> <!-- row -->
    <div class="row" id="starts">
      <div style="position: relative; margin-top: -8em;" class="col-md-12 col-sm-12 col-xs-12 work-list">
        <div class="col-md-5 col-sm-12 col-xs-12 work-space">
          <a href="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Portrait.png" data-lightbox="image-1">
            <div class="featured-img">
              <img style="padding: 10px" align="top" src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Portrait.png" alt="CEP 2" >
            </div>
            {{!-- <h3>{{step_two}}</h3> --}}
          </a>
        </div>
        <div>
          {{#if thai_language}}
            {{> front/thai/_get_started_two }}
          {{^}}
            {{> front/english/_get_started_two }}
          {{/if}}
        </div>
      </div>
    </div> <!-- row -->
    <div class="row" id="starts" >
      <div class="col-md-12 col-sm-12 col-xs-12 work-list">
        <div class="col-md-5 col-sm-12 col-xs-12 work-space">
          <a href="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Portrait.png" data-lightbox="image-1">
            <div class="featured-img">
              <img style="padding: 10px;" align="top" src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Portrait.png" alt="CEP 1" >
            </div>
            {{!-- <h3>{{step_one}}</h3> --}}
          </a>
        </div>
        <div>
          {{#if thai_language}}
            {{> front/thai/_holistic_text }}
          {{^}}
            {{> front/english/_holistic_text }}
          {{/if}}
        </div>
      </div>
    </div> <!-- row -->
    <div class="row" id="starts">
      <div style="position: relative; margin-top: -8em;" class="col-md-12 col-sm-12 col-xs-12 work-list">
        <div class="col-md-5 col-sm-12 col-xs-12 work-space">
          <a href="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Portrait.png" data-lightbox="image-1">
            <div class="featured-img">
              <img style="padding: 10px" align="top" src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Portrait.png" alt="CEP 2" >
            </div>
            {{!-- <h3>{{step_two}}</h3> --}}
          </a>
        </div>
        <div>
          {{#if thai_language}}
            {{> front/thai/_helping_friends_text }}
          {{^}}
            {{> front/english/_helping_friends_text }}
          {{/if}}
        </div>
      </div>
    </div> <!-- row -->
  </div>
</div> <!-- Get Started -->

</div> <!-- container-fluid -->
</div> {{!-- front-main-hbs --}}

<script>
//   $("a#clicker").on("click", function() {
// console.log("clicked");
//   });
</script>
