<div class="footer-screen">
  {{#if window_big}}
    <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/City_scape.png" id="contact-us" class="img-responsive">
  {{else if window_medium}}
    <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/City+scape+medium.png" id="contact-us" class="img-responsive">
  {{else if window_smaller}}
    <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/City+scape+smaller.png" id="contact-us" class="img-responsive">
  {{else}}
    <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/City+scape+mobile.png" id="contact-us" class="img-responsive">
  {{/if}}
  <div class="footer-content">
    <h2>{{contact_us}}</h2>
    <br>
    <div class="row row-eq-height">
      <div class="col-sm-3 footer-cep-logo">
        <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP+logo.png" alt="wide picture" class="img-responsive">
      </div>
      <br>
      <div class="col-sm-3 footer-address">
        <div class="footer-left-line">
        <div class="footer-subtitle">{{telephone}}</div>
        <div>080-???-7777,</div>
        <div>081-???-8888</div>
        <br>
          {{#if thai_language}}
            {{> footer/thai/_address }}
          {{^}}
            {{> footer/english/_address }}
          {{/if}}
        <br>
        <div>
          <a href="https://www.facebook.com/City-English-Project-1745393602361714/?notif_t=page_fan&notif_id=1462353525485104" target="_blank"><img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Circle+Facebook.png" class="social-media-icon"></a>
          <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Circle+Line.png" class="social-media-icon">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Circle+Instagram.png" class="social-media-icon">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Circle+Youtube.png" class="social-media-icon">
        </div>
        <br>
        </div>
      </div>
      <br>
      <div class="col-sm-6 footer-map">
        {{!-- <iframe src="https://www.google.com/maps/embed/v1/place?q=Harrods,Brompton%20Rd,%20UK
      &zoom=17
      &key=YOUR_API_KEY">
        </iframe> --}}
      </div>
    </div> {{!-- row --}}
    <div class="copyright" style="list-style-type: none;">
      <div>Copyright &copy; City English Project 2016</div>
      <div>All rights reserved.</div>
    </div>
    <div class="fb-div">
      <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
      </div>
    </div>
  </div> {{!-- footer-content --}}
  <br>
</div> {{!-- footer-screen --}}


{{!-- ...old stuff below... --}}
{{!-- <div class="container-fluid footer">
  <div class="row">
    <ul>
      <br>
      <li style="list-style-type: none;"><div class="line-it-button" style="display: none;" data-type="share-d" data-lang="en"></div></li>
      <br>
      <li style="list-style-type: none;"><a href="/contact">Contact Us!</a></li>
      <br>
      <li style="list-style-type: none;">Copyright &copy; City English Project 2015</li>
      <br>
      <li style="list-style-type: none;">Flag images provided by <a href="http://www.icondrawer.com/">Icon Drawer</a></li>
      <br>
    </ul>
  </div>
</div> --}}
