%section.site_title
  %hr
  = bootstrap_form_for @user do |f|
    %header
      %h1 Open an account at BSC Online!
      %h3="(When you open an account at BSC Online, you have access to our free sample English course.  If you like, you will also be able to Register as a student at BSC English Online in which you would have access our courses.)"
    %fieldset
      .form-group
        .row
          .col-sm-4
            %h2= f.text_field :first_name, label: "First Name", class: 'form-control', :placeholder => "ชื่อเล่น"
        .row
          .col-sm-4
            %h2= f.text_field :last_name, label: "Last Name"
        .row
          .col-sm-4
            %h2= f.email_field :email, label: "Email Address"
        .row
          .col-sm-4
            %h2= f.password_field :password, label: "Password"
        .row
          .col-sm-4
            %h2= f.password_field :password_confirmation, label:"Password Confirmation "
        .row
          .col-sm-4
            %h2= f.text_field :postal_code, label: "Postal Code"
        %br
        = f.submit "Join BSC Online!", class: 'btn btn-success'
