<section class="bsc-container">
  <%= simple_form_for @user do |f| %>
    <header>
      <h1>CEP Volunteer Application Form</h1>
      <h4>
        <%= "After you fill out this form, and then click the button below, we will respond to you within 48 hours." %>
      </h4>
    </header>
    <fieldset>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <h3>
              <%= f.input :email, label: "Email Address" %>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <h3>
              <%= f.input :password, label: "Password" %>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <h3>
              <%= f.input :password, label: "More info about you as a Volunteer, etc.." %>
            </h3>
          </div>
        </div>
        <br/>
 


        <%= link_to "Send this Volunteer Application to CEP [button not yet activated]", "#", class: 'btn btn-success' %>
      </div>
    </fieldset>
  <% end %>
</section>