<section class="bsc-container">
  <%= simple_form_for @user do |f| %>
    <header>
      <h1>Register as a Volunteer with CEP!</h1>
      <h4>
        <%= "Fill in your information including the PIN given to you by the CEP Volunteer coordinator." %>
      </h4>
    </header>
    <fieldset>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <h3>
              <%= f.input :email, label: "Email Address" %>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <h3>
              <%= f.input :password, label: "Password" %>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <h3>
              <%= f.input :password, label: "More info about you as a Volunteer, etc.." %>
            </h3>
          </div>
        </div>
        <br/>
 


        <%= link_to "Send this Volunteer Application to CEP [button not yet activated]", "#", class: 'btn btn-success' %>
      </div>
    </fieldset>
  <% end %>
</section>