<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content application-modal-content">
    <div class="modal-header">
      <button type="button" class="close close-modal" {{!-- data-dismiss="modal" --}}>&times;</button>
      <h3 class="modal-title">{{application_title}}</h3>
    </div>
    <div class="modal-body">
      <form novalidate="novalidate" class="simple_form application_form" id="new_user" enctype="multipart/form-data" action="/users" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="authenticity_token" value={{token}}>

        <input type="hidden" name="user[guest]" value="true">
        {{#if thai_language}}
          {{> application_form/thai/_intro_bullets }}
        {{^}}
          {{> application_form/english/_intro_bullets }}
        {{/if}}
        <hr>
        <label class="field-label">Nickname</label>
        <input type="text" class="form-control nickname" placeholder="ชื่อเล่น" name="user[nickname]">
        <hr>
        <label class="field-label">First Name</label>
        <input type="text" class="form-control first-name" placeholder="ชื่อจริง" name="user[first_name]">
        <hr>
        <label class="field-label">Last Name</label>
        <input type="text" class="form-control last-name" placeholder="นามสกุล" name="user[last_name]">
        <hr>
        <label class="field-label">Gender</label>
        <div>
          <select name="user[gender]" class="gender-select">
            <option value="ผู้ชาย">ผู้ชาย</option>
            <option value="ผู้หญิง">ผู้หญิง</option>
          </select>
        </div>
        <hr>
        <label class="field-label">Phone Number</label>
        <input type="text" class="form-control phone_number" placeholder="เบอร์โทรศัพท์" name="user[phone_number]">
        <hr>
        <label class="field-label">Email Address</label>
        <input type="text" class="form-control email" placeholder="อีเมล" name="user[email]">
        <hr>
        <label class="field-label">Province / District in Bangkok</label>
        <input type="text" class="form-control district" placeholder="จังหวัด / เขตในกรุงเทพมหานคร" name="user[district]">
        <hr>
        {{!-- <label for="user_image">Image</label><br>
        <input type="file" name="user[image]" id="user_image">
        <hr> --}}

        <fieldset id="class-schedule-options">
          <label for="class-schedule" class="field-label">
            {{#if thai_language}}
              {{> application_form/thai/_choose_sched_option }}
            {{^}}
              {{> application_form/english/_choose_sched_option }}
            {{/if}}
          </label>
          <div class="radio-div-applic">
            <label><input type="radio" id="sched-opt-one" name="class-schedule-options" class="radio-in-appl">{{schedule_option_one}}</label>
            <select id="five-weeks" name="user[class_time]" class="grayout seminar-session-select" disabled>
              <option id="option-with-id" value="select_option" disabled selected> -- select an option -- </option>
              <option value="monday_one_five_weeks">Mondays, 30 May - 27 June (5 times), 5:00-6:30pm</option>
              <option value="monday_two_five_weeks">Mondays, 30 May - 27 June (5 times), 7:00-8:30pm</option>
              <option value="tuesday_one_five_weeks">Tuesdays, 31 May - 28 June (5 times), 5:00-6:30pm</option>
              <option value="tuesday_two_five_weeks">Tuesdays, 31 May - 28 June (5 times), 7:00-8:30pm</option>
              <option value="saturday_one_five_weeks">Saturdays, 4 June - 2 July (5 times), 10:30am-12:00pm</option>
              <option value="saturday_two_five_weeks">Saturdays, 4 June - 2 July (5 times), 10:30am-12:00pm</option>
              <option value="saturday_three_five_weeks">Saturdays, 4 June - 2 July (5 times), 12:30am-2:00pm</option>
              <option value="saturday_four_five_weeks">Saturdays, 4 June - 2 July (5 times), 12:30am-2:00pm</option>
            </select>
          </div>
          <br>
          <div class="radio-div-applic">
            <label><input type="radio" id="sched-opt-two" name="class-schedule-options" class="radio-in-appl">{{schedule_option_two}}</label>
            <select id="one-whole-week" name="user[class_time]" class="grayout seminar-session-select" disabled>
              <option id="option-with-id" value="select_option" disabled selected> -- select an option -- </option>
              <option value="mondayfive">Monday-Friday, 6-10 June (5 times), 5:00-6:30pm</option>
              <option value="mondayfive">Monday-Friday, 6-10 June (5 times), 7:00-8:30pm</option>
              <option value="mondayfive">Monday-Friday, 13-17 June (5 times), 5:00-6:30pm</option>
              <option value="mondayfive">Monday-Friday, 13-17 June (5 times), 7:00-8:30pm</option>
              <option value="mondayfive">Monday-Friday, 20-24 June (5 times), 5:00-6:30pm</option>
              <option value="mondayfive">Monday-Friday, 20-24 June (5 times), 7:00-8:30pm</option>
              <option value="mondayfive">Monday-Friday, 27 June-1 July (5 times), 5:00-6:30pm</option>
              <option value="mondayfive">Monday-Friday, 27 June-1 July (5 times), 7:00-8:30pm</option>
              <option value="mondayfive">Monday-Friday, 4-8 July (5 times), 5:00-6:30pm</option>
              <option value="mondayfive">Monday-Friday, 4-8 July (5 times), 7:00-8:30pm</option>
              <option value="mondayfive">Monday-Friday, 11-15 July (5 times), 5:00-6:30pm</option>
              <option value="mondayfive">Monday-Friday, 11-15 July (5 times), 7:00-8:30pm</option>
              <option value="mondayfive">Monday-Friday, 18-22 July (5 times, 5:00-6:30pm</option>
              <option value="mondayfive">Monday-Friday, 18-22 July (5 times, 7:00-8:30pm</option>
            </select>
          </div>
        </fieldset>
        <hr>

        <fieldset id="payment-options">
          <label class="field-label">{{choose_payment_option}}</label>
            <p class="above-radios"><a data-toggle="modal" href="#" data-target="#costAmountModal">{{class_cost}}</a></p>
            <div class="radio-div-applic">
              <label><input type="radio" name="pay_at_center" class="radio-pay_at_center radio-in-appl">{{pay_at_center}}{{pan_road}}.</label>
            </div>
            <br>
            <div class="radio-div-applic">
              <label>
                <input type="radio" name="pay_by_transfer" class="radio-pay_by_transfer radio-in-appl">
                {{#if thai_language}}
                  {{> application_form/thai/_bank_transfer }}
                {{^}}
                  {{> application_form/english/_bank_transfer }}
                {{/if}}
              </label>
            </div>
            {{!-- <p class="under-radios">
              <a href="#">{{payment_info}}</a>
            </p> --}}
        </fieldset>
        <hr>

        <div class="control-group">
          <button class="guest-add btn">Submit</button>
        </div>

        <hr>
        {{#if thai_language}}
          {{> application_form/thai/_after_submit_visit }}
        {{^}}
          {{> application_form/english/_after_submit_visit }}
        {{/if}}
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default close-modal"{{!--  data-dismiss="modal" --}}>Close</button>
    </div>
  </div> <!-- Modal content-->
</div> <!-- Modal dialog -->


<script>

  // Open modal & prevent scrolling underneath bootstrap modals
  $("a.modal-initiator").on("click", function() {
    // $('#applicationmodal').modal();
    currentScrollTopUnderModal = $(window).scrollTop();
    $('html').addClass('noscroll').css('top', '-' + currentScrollTopUnderModal + 'px');
  });

  $(".close-modal").on("click", function() {
    dealWithClosingModal();
  });

  $(document).on("keyup", function(e) {
    if (e.keyCode == 27) {
      resumeScrollingAferModal();
      dealWithClosingModal();
    }
  });

  $("#applicationmodal").on('click', function(event) {
    var applFormViewDiv = document.getElementById("application-form-modal");
    if (!$.contains( applFormViewDiv, event.target )) { // if clicking OUTSIDE the modal div
      dealWithClosingModal();
    }
  });

  function dealWithClosingModal() {
    resumeScrollingAferModal();
    $('#applicationmodal').modal('hide');
  }

  function resumeScrollingAferModal() {
console.log($('#applicationmodal').hasClass('in'));
    $('html').removeClass('noscroll');
    if ($('#applicationmodal').hasClass('in')) { // for some reason, sometimes the '$(window).scrollTop();' does not get defined on initial page load
      $(window).scrollTop(currentScrollTopUnderModal);
    } else {
      $(window).scrollTop(870);
    }
  }

  //// radio buttons /////
  var button1 = document.getElementById("sched-opt-one");
  var button2 = document.getElementById("sched-opt-two");

  $("#sched-opt-one, #sched-opt-two").on("click", function() {
    if (button1.checked){ // if #five-weeks selected
      $('#five-weeks').prop('disabled', false);
      $('#five-weeks').removeClass("grayout").addClass("blackin");
      $('#one-whole-week').val('select_option');
      $('#one-whole-week').prop('disabled', 'disabled');
      $('#one-whole-week').removeClass("blackin").addClass("grayout");
    }
    else if (button2.checked) { // if #one-whole-week selected
      $('#one-whole-week').prop('disabled', false);
      $('#one-whole-week').removeClass("grayout").addClass("blackin");
      $('#five-weeks').val('select_option');
      $('#five-weeks').prop('disabled', 'disabled');
      $('#five-weeks').removeClass("blackin").addClass("grayout");
    }
  });

  $('.radio-pay_at_center').on("change", function() {
    $('.radio-pay_by_transfer').prop('checked', false);
  });
  $('.radio-pay_by_transfer').on("change", function() {
    $('.radio-pay_at_center').prop('checked', false);
  });
  //// radio buttons /////


</script>






