%h3= link_to "BSC Online", root_path
%br
- if current_user
  %h1= "Welcome, #{current_user.first_name} #{current_user.last_name}"
  %br
  = link_to "Sign Out", sign_out_path, :class => 'btn btn-lg btn-success'
