%section.site_title
  .row
    .col-lg-12
      %h1.page-header="Hi #{current_user.first_name}. You can build and edit your curricula, courses, parts, lessons and assessments (Exams, Tests & Quizzes) here.  Click on the links below to add or to edit."
      .col-md-12
        .panel.panel-default
          .panel-heading
            %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseCurriculum"}
              %h3="Curricula"
              %div{:id => "collapseCurriculum", :class => "panel-collapse", :class => "collapse"}
                .panel-body
                  -@curriculums.each do |curriculum|
                    %h3=link_to "Edit \"#{curriculum.name}\" Curriculum", edit_admin_curriculum_path(curriculum)
                  %hr
                  =link_to "Build a new Curriculum", new_admin_curriculum_path, :class => 'btn btn-primary'
      .col-md-12
        .panel.panel-default
          .panel-heading
            %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseCourse"}
              %h3="Courses (which are within a Curriculum)"
              %div{:id => "collapseCourse", :class => "panel-collapse", :class => "collapse"}
                .panel-body
                  -Course.all.each do |course|
                    = render 'pages/item_assessment_links', :item => course
                  %hr
                  =link_to "Build a new Course (within an existing Curriculum)", new_admin_course_path, :class => 'btn btn-primary'
      .col-md-12
        .panel.panel-default
          .panel-heading
            %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsePart"}
              %h3="Parts (which are within a Course)"
              %div{:id => "collapsePart", :class => "panel-collapse", :class => "collapse"}
                .panel-body
                  -Part.all.each do |part|
                    = render 'pages/item_assessment_links', :item => part
                  %hr
                  =link_to "Build a new Part (within an existing Course)", new_admin_part_path, :class => 'btn btn-primary'
      .col-md-12
        .panel.panel-default
          .panel-heading
            %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseLesson"}
              %h3="Lessons (which are within a Part)"
              %div{:id => "collapseLesson", :class => "panel-collapse", :class => "collapse"}
                .panel-body
                  -Lesson.all.each do |lesson|
                    = render 'pages/item_assessment_links', :item => lesson
                  %hr
                  =link_to "Build a new Lesson (within an existing Part)", new_admin_lesson_path, :class => 'btn btn-primary'

