<!-- script disables browser back button for this page -->
<script type = "text/javascript" >
  history.pushState(null, null, 'dashboard');
  window.addEventListener('popstate', function(event) {
    history.pushState(null, null, 'dashboard');
  });
</script>

<section class="bsc-container">
  <header>
    <h1>Welcome to the "City English Project"!!</h1>
    <hr>
    <h2>From here, you can request an American "Skype Conversation Partner."</h2>
    <% if current_user.volunteer? %>
      <hr>
      <h2>You are here in "volunteer" status.</h2>
    <% end %>
    <% if current_user.admin? %>
        <hr>
        <h2>You are here in "admin" status. In 'admin' status, you are allowed to review the "Volunteer Applications" that have come in so far.</h2>
      <hr>
      <hr>
      <% if VolunteerApplication.all == [] %>
        <h3> No applications now. </h3>
        <hr>
      <% end %>
      
      <% i = 0 %>
      <% @volunteer_applications.each do |application| %>
          <% i = i + 1 %>
          <h3><%= i.to_s + ". Applicant Name: " + "\"" + application.user.name + " " + application.user.last_name + "\"" %></h3>
          <hr>
          <h3><%= "Applicant City: " + "\"" + application.user.city + "\"" %></h3>
          <hr>
          <h3><%= "\"" + application.response_first+ "\"" %></h3>
          <hr>
          <h3><%= "\"" + application.response_second+ "\"" %></h3>
          <hr>
          <h3><%= "\"" + application.response_third+ "\"" %></h3>
          <hr>
            <%= link_to "Approve", "#", :class => "btn btn-success" %>
            <%= link_to "Disapprove", "#", :class => "btn btn-danger" %>

          <hr>
          <hr>

      <% end %>


    <% end %>

  </header>
</section>
