<div class="container-fluid main" id="page-top">
  <div class="row">
    <div class="col-md-12 backg">
      <div class="col-md-6 col-md-offset-3 inner col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
        <div class="text-box">
          <p class="intro">Introducing</p>
          <h2>City English</h2>
          <h3>A Template for Eric's perusal..</h3>
          <p>By <span><a href="http://www.html5layouts.com">HTML5 Layouts</a></span></p>
          <div class="col-md-6">
            <p><a href="#features" class="link-button">Program Info</a></p>
          </div>
          <div class="col-md-6">
            <p><a href="#" class="link-button">Member Login</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 some-notes">
      <div class="title">
        <h2>Welcome To City English...ยินดีต้อนรับ!!</h2>
      </div>
      <div class="desc">
        <p>City English is a community of Thai learners and international teachers.</p>
      </div>
    </div>
  </div>
</div>


<!-- Features -->
<div class="container-fluid features" id="features">
  <h2 class="text-center features-text">Features</h2>
    <div class="row">
       <div class="col-md-4">  
          <div class="picturing">
            <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/On-site+classes.png" alt="Class Scene" align="middle">
            <div class="col-md-13 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
              <h4>On-site Classes</h4>
              <p>We offer our City Talk conversational English and worldview class (beginner, basic and intermediate levels) in businesses, vocational schools and universities. A primary focus of City Talk is learning to speak English with clarity and confidence!</p>
            </div>
          </div>
       </div>
       <div class="col-md-4">
          <div class="picturing">
            <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Conversation.png" alt="Class Scene" align="middle">
            <div class="col-md-13 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
              <h4>Online Classes</h4>
              <p>Our online network offers basic classes on topics that are important for Thai English learners in the 21st century. For example, we will offer classes on job resumes, global worldviews/culture, job interviews, etc.</p>
            </div>
          </div>
       </div>
       <div class="col-md-4"> 
          <div class="picturing">
            <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/On-site+classes.png" alt="Class Scene" align="middle">
            <div class="col-md-13 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
              <h4>Conversation Partners</h4>
              <p>We know the best way to learn a language is to practice with native speakers. So, our network offers online conversation partnerships with native English speakers (via skype, line Facebook, etc.).</p>
            </div>
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-md-4">  
          <div class="picturing">
            <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Conversation.png" alt="Class Scene" align="middle">
            <div class="col-md-13 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
              <h4>Conversation Groups</h4>
              <p>Do you prefer to practice speaking English with friends in a group setting? We also offer online conversation groups with native English speakers!</p>
            </div>
          </div>
       </div>
       <div class="col-md-4">
          <div class="picturing">
            <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/On-site+classes.png" alt="Class Scene" align="middle">
            <div class="col-md-13 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
              <h4>Community Boards</h4>
              <p>Need to practice writing? Have an immediate English question you need answering? Connect into our online community boards to get answers from native English speakers.</p>
            </div>
          </div>
       </div>
       <div class="col-md-4"> 
          <div class="picturing">
            <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Conversation.png" alt="Class Scene" align="middle">
            <div class="col-md-13 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
              <h4>Certificate Program</h4>
              <p>In partnership with a leading English institute in the United States, we hope to launch our certificate program in late 2016 or early 2017. Our goal is to offer general English certificates as well as certificates in specific fields of study.</p>
            </div>
          </div>
       </div>
    </div>
  <h2 class="text-center features-text-bottom">In addition, we have plans for future classes, activities and much, much more!</h2>
</div> <!-- Features -->


<!-- Process -->
<div class="container-fluid work" id="process">
  <div class="container">
    <div class="row" id="starts">
      <div class="col-md-12 col-sm-12 col-xs-12 work-list">
        <h2 class="text-center process-text">A Simple Process. An Incredible Opportunity.</h2>
        <div class="col-md-6 col-sm-12 col-xs-12 work-space">
          <a href="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP1.png" data-lightbox="image-1">
            <div class="featured-img">
              <%= image_tag("https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP1.png") %>
            </div>
            <h3>Step 1</h3>
          </a>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 work-space">
          <a href="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP2.png" data-lightbox="image-1">
            <div class="featured-img">
              <%= image_tag("https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP2.png") %>
            </div>
            <h3>Step 2</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> <!-- Process -->


<!-- worldview -->
<div class="container-fluid work" id="worldview">
  <div class="container">
    <div class="row" id="starts">
      <div class="col-md-12 col-sm-12 col-xs-12 work-list">
        <h2 class="text-center worldview-text">English + Worldview/Culture + Personal Relationships = Opportunities to Advance</h2>
        <div class="col-md-4 col-sm-6 col-xs-12 work-space">
          <a href="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP4.png" data-lightbox="image-1">
            <div class="featured-img">
              <%= image_tag("https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP4.png") %>
            </div>
            <div class="image-hover">
              <i class="glyphicon glyphicon-eye-open"></i>
            </div>
            <h3>Amazing Beauty</h3>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 work-space">
          <a href="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP5.png" data-lightbox="image-1">
            <div class="featured-img">
              <%= image_tag("https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP5.png") %>
            </div>
            <div class="image-hover">
              <i class="glyphicon glyphicon-eye-open"></i>
            </div>
            <h3>Mind Blowing</h3>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 work-space">
          <a href="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP1.png" data-lightbox="image-1">
            <div class="featured-img">
              <%= image_tag("https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP1.png") %>
            </div>
            <div class="image-hover">
              <i class="glyphicon glyphicon-eye-open"></i>
            </div>
            <h3>Perfect Shot</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> <!-- Worldview -->



<!-- Helping Friends -->
<div class="container-fluid work" id="helping">
  <div class="container">
    <div class="row" id="starts">
      <div class="col-md-12 col-sm-12 col-xs-12 work-list">
        <h2 class="text-center helping-text">Helping Friends</h2>
        <div class="col-md-4 col-sm-6 col-xs-12 work-space">
          <a href="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP3.png" data-lightbox="image-1">
            <div class="featured-img">
              <%= image_tag("https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP3.png") %>
            </div>
            <div class="image-hover">
              <i class="glyphicon glyphicon-eye-open"></i>
            </div>
            <h3>Amazing Beauty</h3>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 work-space">
          <a href="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP_shot.jpg" data-lightbox="image-1">
            <div class="featured-img">
              <%= image_tag("https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP_shot.jpg") %>
            </div>
            <div class="image-hover">
              <i class="glyphicon glyphicon-eye-open"></i>
            </div>
            <h3>Mind Blowing</h3>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 work-space">
          <a href="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/On-site+classes.png" data-lightbox="image-1">
            <div class="featured-img">
              <%= image_tag("https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/On-site+classes.png") %>
            </div>
            <div class="image-hover">
              <i class="glyphicon glyphicon-eye-open"></i>
            </div>
            <h3>Perfect Shot</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> <!-- Helping Friends -->



<!-- Volunteer info -->
<div class="container-fluid work" id="volunteer">
  <div class="container">
    <div class="row" id="starts">
      <div class="col-md-12 col-sm-12 col-xs-12 work-list">
        <h2 class="text-center volunteer-text">Volunteer Information</h2>
        <div class="col-md-4 col-sm-6 col-xs-12 work-space">
          <a href="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP1.png" data-lightbox="image-1">
            <div class="featured-img">
              <%= image_tag("https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP1.png") %>
            </div>
            <div class="image-hover">
              <i class="glyphicon glyphicon-eye-open"></i>
            </div>
            <h3>Amazing Beauty</h3>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 work-space">
          <a href="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP3.png" data-lightbox="image-1">
            <div class="featured-img">
              <%= image_tag("https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP3.png") %>
            </div>
            <div class="image-hover">
              <i class="glyphicon glyphicon-eye-open"></i>
            </div>
            <h3>Mind Blowing</h3>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 work-space">
          <a href="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP5.png" data-lightbox="image-1">
            <div class="featured-img">
              <%= image_tag("https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/CEP5.png") %>
            </div>
            <div class="image-hover">
              <i class="glyphicon glyphicon-eye-open"></i>
            </div>
            <h3>Perfect Shot</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> <!-- Volunteer Info -->






<div class="container-fluid countspace">
  <div class="container">
  <div class="row">
    <div class="col-md-12 countbg">
      <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="counter-item">
                    <i class="glyphicon glyphicon-cloud"></i>
                    <div class="timer" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="50"></div>
                    <h5>Files uploaded</h5>                               
                </div>
            </div>  
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="counter-item">
                    <i class="glyphicon glyphicon-check"></i>
                    <div class="timer" data-from="0" data-to="88" data-speed="5000" data-refresh-interval="50"></div>
                    <h5>Projects completed</h5>                               
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="counter-item">
                    <i class="glyphicon glyphicon-list"></i>
                    <div class="timer" data-from="0" data-to="3297" data-speed="5000" data-refresh-interval="50"></div>
                    <h5>Lines of code written</h5>                                                   
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="counter-item">
                    <i class="glyphicon glyphicon-user"></i>
                    <div class="timer" data-from="0" data-to="86" data-speed="5000" data-refresh-interval="50"></div>
                    <h5>Happy clients</h5>                                                   
                </div>     
      </div>
    </div>
  </div>
</div>
</div>


<!-- Former location of 'login' -->
<div id="overlay"><!-- .hbs --></div>



<div class="container-fluid notes">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 notes-bg">
        <div class="container">
          <div class="col-md-8 col-sm-8 col-xs-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
          </div>
          <div class="col-md-offset-1 col-md-2 col-md-offset-1 col-sm-offset-1 col-sm-2 col-sm-offset-1 col-xs-12">
            <button type="button" class="btn btn-default btneff">Read More</button>
          </div>
        </div>
      </div>
    </div> 
</div>



























