<div id="new-class-periods" class="container">
  <hr>
  <h2>You can create new class times here</h2>
  <hr>
  <h3>Please be sure to use a format like this...</h3>
  <hr>
  <h3>"20-24 June, 6:30-8:00pm"</h3>
  <h4>...and...</h4>
  <h3>"20-24 มิถุนายน, 18:30-20:00น."</h3>
  <h4>...or...</h4>
  <h3>"27 Febrary - 3 March, 6:30-8:00pm"</h3>
  <h4>...and...</h4>
  <h3>"27 กุมภาพันธ์ - 3 มีนาคม, 18:30-20:00น."</h3>
  <h4>(but don't add quotes)</h4>
  <hr><hr>

  <%= form_for @class_time do |f| %>
    <h3><%= f.label :name, "Period, in English" %>:</h3>
    <h3><%= f.text_area :period, :class => "period-input" %></h3>
    <br>
    <h3><%= f.label :name, "Period, in Thai" %>:</h3>
    <h3><%= f.text_area :period_thai, :class => "period-input" %></h3>
    <br>
    <%= f.submit "Create", :class => 'btn btn-success' %>
    <hr>
  <% end %>
  <hr>
</div>