<a class="close" href="#">Close</a>

  <header>
    <h1>Profile of {{first_name}}!</h1>
    <h4>
      Here is some information about {{pronoun}}.
    </h4>
    <hr>
  </header>

  <h3>
    {{first_name}} {{last_name}} is a {{age}}-year-old {{gender}} who is available as a Skype-partner for you, {{student.first_name}}.
  </h3>
  <br>


  <a class="btn btn-success" href="/student_connect_with_volunteer/{{student.id}}/{{volunteer.id}}">
    Get in touch with {{first_name}}
  </a>

  <a class="btn btn-warning" href="#">Not choose {{first_name}} yet</a>



