<div class="container">

  {{#if no_students}}
    <h3>No students scheduled for any classes</h3>
  {{^}}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nick Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Province/District</th>
            <th>Payment Option</th>
            <th>Class Time</th>
          </tr>
        </thead>

        <tbody>
        {{#each students}}
          {{#if no_students}}

          <tr>
            <td>{{this.nickname}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.gender}}</td>
            <td>{{this.phone_number}}</td>
            <td>{{this.email}}</td>
            <td>{{this.district}}</td>
            <td>{{this.payment_option}}</td>
            <td>{{this.class_time}}</td>
          </tr>

          {{/if}}


        {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}


</div>