<div class="container">

  {{#if no_volunteers}}
    <h3>There are currently no volunteers available.</h3>
  {{^}}
    <ul style="list-style-type:none">
      <hr>
    {{#each volunteers}}
      <li>
        <h3 style="cursor: pointer; text-decoration: underline;" class="modal-initiator volunteer-profile-modal" data-toggle="modal" data-target="#volunteerprofile" data-id={{this.id}} data-first-name={{this.first_name}} data-last-name={{this.last_name}} data-gender={{this.gender}} data-age={{this.age}}>
          {{this.first_name}} {{this.last_name}}
        </h3>
        <h4>
          {{#genderTranslate this.gender }}
          {{/genderTranslate}}
        </h4>
        <h4>Age: {{this.age}}</h4>
        <h4>State: {{this.province}}</h4>
        <h4>Country: {{this.country}}</h4>
        <h4 id="choose-skype-time">Choose skype times with {{this.first_name}}:</h4>
          {{#each this.skype_time_slots}}
            <div>
            {{#if this.available}}
              <input class="checkers" data-id={{this.id}} data-volunteer-id={{this.volunteer_id}} type="checkbox">
              <span id="skype-time-slot-available">{{this.day}} {{this.time_period}} {{this.am_pm}}</span>
            {{/if}}
            </div>
          {{/each}}
        <hr>
      </li>
    {{/each}} <!-- each class times -->
    </ul>
  {{/if}}

  <hr>
  <h2><a href="/log_out">ออกจากระบบ</a></h2>
  <hr>

</div> <!-- container -->


