<div class="container" style="margin-top: -20px;">

  <hr>

  <h2 class="txt" style="color: #337ab7; cursor: pointer;" data-toggle="collapse" data-target="#collapseVolsStudents" aria-expanded="false" aria-controls="collapseVolsStudents">
    Click here to see a list Online Partnerships (current &amp; uncancelled).
  </h2>
  <div class="collapse" id="collapseVolsStudents">

    <ul style="list-style-type:none">
      <hr>
      <li>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Volunteer</th>
                <th>Volunteer's email</th>
                <th>Student</th>
                <th>Student's phone #</th>
                <th>Student's email</th>
                <th>Date the student chose the volunteer</th>
              </tr>
            </thead>

            <tbody>
            {{#each slots_taken}}
              <tr>
                <td>{{this.volunteer.first_name}} {{this.volunteer.last_name}}</td>
                <td>{{this.volunteer.email}}</td>
                <td>{{this.student.first_name}} ("{{this.student.nickname}}") {{this.student.last_name}}</td>
                <td>{{this.student.phone_number}}</td>
                <td>{{this.student.email}}</td>
                <td>{{this.month_chosen}}/{{this.date_chosen}}/{{this.year_chosen}}</td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        </div> <!-- table-responsive -->
      </li>
    </ul>

  </div>

  <hr>
  <h2><a href="/log_out">Log Out</a></h2>
  <hr>

</div> <!-- container -->

