<br>
<br>
<br>

<span id="on-business-page"></span>

<div class="entire-biz">

<div class="container" id="page-top">


  <div class="row">

    <h1 class="biz-title">{{business_title}}</h1>

    <form enctype="multipart/form-data" action="/businesses" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="authenticity_token" value={{token}}>

      <label class="field-label biz-label">{{business_name}}</label>
      <input type="text" class="form-control biz-input" placeholder="กกกกกกก" name="business_name" autofocus="autofocus">
      <hr>

      <label class="field-label biz-label">{{business_address}}</label>
      <input type="text" class="form-control biz-input" placeholder="กกกกกกก" name="business_address">
      <hr>

      <label class="field-label biz-label">{{leader_name}}</label>
      <input type="text" class="form-control biz-input" placeholder="กกกกกกก" name="leader_name">
      <hr>

      <label class="field-label biz-label">{{employees_no}}</label>
      <input type="text" class="form-control biz-input" placeholder="กกกกกกก" name="employees_no">
      <hr>

      <label class="field-label biz-label">{{times}}</label>
      <input type="text" class="form-control biz-input" placeholder="กกกกกกก" name="times">
      <hr>

      <label class="field-label biz-label">{{days}}</label>
      <input type="text" class="form-control biz-input" placeholder="กกกกกกก" name="days">
      <hr>

      <label class="field-label biz-label">{{email}}</label>
      <input type="text" class="form-control biz-input" placeholder="กกกกกกก" name="email">
      <hr>

      <label class="field-label biz-label">{{phone}}</label>
      <input type="text" class="form-control biz-input" placeholder="กกกกกกก" name="phone">
      <hr>

      <div class="control-group">
        <button class="btn btn-success biz-button" href="#">Submit</button>
      </div>
      <br>
      <br>
    </form>

  </div> {{!-- row --}}
</div>

</div> <!-- class="entire-biz" -->
