%section.site_title
  %hr
  %h3= #link_to "<< Back to #{@course.curriculum.name}", curriculum_path(@course.curriculum), class: 'btn btn-primary'
  %hr
  %h2="Welcome to \"#{@course.name}\"!"
  %br
  %h3="#{@course.description}"
  - if @course.activated?
    %hr
    -if current_user
      = link_to "I want to Register for #{@course.name}", '#', class: 'btn btn-primary'
  %hr
