/ Progress Status
.panel.panel-default
  .panel-body
    %nav
      %ul.pager
        %li.previous.disabled
          %a{:href => "#"}
            %span{"aria-hidden" => "true"} 
            Current Progress
        %li.next
          %a{:href => "#"}
            Next: Lesson 1
            %span{"aria-hidden" => "true"} &rarr;
    .progress
      .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 65%;"} 65%

/ Course Overview
%section.site_title
  .row
    .col-lg-12
      %h1.page-header="Welcome to \"#{@course.name}\"!"
      %h2="#{@course.description}"
    -@course.parts.each do |part|
      .col-md-12
        .panel.panel-default
          .panel-heading
            %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse" + "#{part.name.gsub(/\s+/, "")}"}
              %h3="#{part.name}"
              %div{:id => "collapse" + "#{part.name.gsub(/\s+/, "")}", :class => "panel-collapse", :class => "collapse"}
                .panel-body
                  -part.lessons.each do |lesson|
                    %h4.heading=link_to "#{lesson.name}", part_lesson_path(lesson.part, lesson)
                    %p="#{lesson.description}"
                    %a.btn.btn-default{:href => "#"} Begin this Lesson
                  %h3=link_to "Test for #{part.name}"
    - if @course.show_assessment
      .col-md-12
        .panel.panel-default
          .panel-heading
            %h3= link_to "#{@course.show_assessment} for #{@course.name}", curriculum_course_assessment_path(@course.curriculum, @course, @course.assessments.first)
    - if current_user.overseer_admin?
      .col-md-12
        .panel.panel-default
          .panel-heading
            %h3= link_to "Course building page for #{current_user.first_name}", build_path
              
