%section.site_title
  %hr
  = bootstrap_form_for current_user do |f|
    %header
      %h1 Become a member of BSC Online!
      %h3 (When you become a member of BSC Online, you can then register for individual courses within our various curricula.)
    %fieldset
      .form-group
        .row
          .col-sm-4
            %h3= f.text_field :first_name, label: "First Name", class: 'form-control'
        .row
          .col-sm-4
            %h3= f.text_field :last_name, label: "Last Name"
        .row
          .col-sm-4
            %h3= f.email_field :email, label: "Email Address"
        .row
          .col-sm-4
            %h3= f.password_field :password, label: "Password"
        .row
          .col-sm-4
            %h3= f.password_field :password_confirmation, label:"Password Confirmation "
        .row
          .col-sm-4
            %h3= f.text_field :postal_code, label: "Postal Code"
        %br
        = f.submit "Join BSC Online!", class: 'btn btn-success'
