%section.site_title
  %hr
  = bootstrap_form_for current_user do |f|
    %header
      %h1 THIS PAGE IS FOR A STUDENT REGISTERING FOR A COURSE FOR THE FIRST TIME!!!!!  AFTER HE REGISTERS FOR HIS FIRST COURSE, HE DOES NOT NEED TO COME BACK TO THIS PAGE!!!! CHANGE THE FIELDS BELOW TO ENABLE HIM TO ADD ADDITION DETAILS ABOUT HIMSELF (ADDRESS, PHONE, ETC).  YOU MUST DETERMINE WHICH (IF ANY) OF THE FIELDS SHOULD BE REQUIRED!!!
    %fieldset
      .form-group
        .row
          .col-sm-4
            %h3= f.text_field :first_name, label: "First Name", class: 'form-control'
        .row
          .col-sm-4
            %h3= f.text_field :last_name, label: "Last Name"
        .row
          .col-sm-4
            %h3= f.email_field :email, label: "Email Address"
        .row
          .col-sm-4
            %h3= f.password_field :password, label: "Password"
        .row
          .col-sm-4
            %h3= f.password_field :password_confirmation, label:"Password Confirmation "
        .row
          .col-sm-4
            %h3= f.text_field :postal_code, label: "Postal Code"
        %br
        = f.submit "Join BSC Online!", class: 'btn btn-success'
