%section.site_title
  %hr
  %h1
    = "Welcome to BSC English Online, #{current_user.first_name}!  Let's start building your custom-made 'personal study plan'! :-)"
  %h1
    = "Your 'personal study plan' will consist of the courses for which you Register.  You can look at the courses available in each of our #{@curriculums.count} curricula...."
  %hr
    = link_to "Courses to Register for!", course_registrations_path, class: 'btn btn-primary'
  %hr
  %h1
    = "In the future, you can build upon your 'personal study plan' by adding more BSC Online English courses."
