<header class="header">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "City English", root_path, :class => "navbar-brand", :id => "home-link" %>
        <span class="thai_flag" style="display: inline;">
          <%= image_tag 'thailand.png', style: "cursor: pointer;"%>
        </span>
        <span class="usa_flag" style="display: none;">
          <%= image_tag 'usa.png', style: "cursor: pointer;"%>
        </span>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          <!-- <li
            style="padding: 1em; padding-top: 1.1em;"
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
          </li> -->
          <li style="padding: 1em; padding-top: 1.1em;"><div class="line-it-button" style="display: none;" data-type="share-a" data-lang="en"></div></li>
          <% if !current_user %>
            <li><a href="#page-top" id="place_1" class="page-scroll">Top</a></li>
            <!-- <li><a href="/auth/facebook">Facebook</a></li> -->
            <li><a href="#features" id="place_2" class="page-scroll">Features</a></li>
            <li><a href="#features" id="place_2" class="page-scroll">Volunteer Steps</a></li>
            <li><a href="#process" id="place_3" class="page-scroll">Process</a></li>

            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Student<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% if params[:action] == 'front' %> <!-- !!!! SECURITY problem with string literal -->
                  <li id="backbone-app">
                    <%= link_to "Register New Student", register_student_path unless current_user %>
                  </li>
                <% end %>
                <li role="separator" class="divider"></li>
                <li id="backbone-app" class="login-checker">
                  <%= link_to "Student Login", log_in_path unless current_user %>
                </li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Volunteer<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li id="backbone-app" class="volunteer_page">
                  <%= link_to "Volunteer Info", volunteer_info_path unless current_user %>
                </li>
                <li role="separator" class="divider"></li>
                <li id="backbone-app">
                  <%= link_to "Register New Volunteer", register_vol_path unless current_user %>
                </li>
                <li role="separator" class="divider"></li>
                <li id="backbone-app" class="login-checker">
                  <%= link_to "Volunteer Login", log_in_path unless current_user %>
                </li>
              </ul>
            </li>

          <% end %>

          <li>
            <%= link_to "Log Out", log_out_path if current_user %>
          </li>


        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

</header>
