<header class="header">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "City English", root_path, :class => "navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#page-top" id="place_1" class="page-scroll">Top</a></li>
          <li><a href="#features" id="place_2" class="page-scroll">Features</a></li>
          <li><a href="#process" id="place_3" class="page-scroll">Process</a></li>
          <li id="backbone-app">
            <%= link_to "Login", log_in_student_path unless current_user %>
          </li>

          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Register<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li id="backbone-app">
                <%= link_to "Register Student", register_student_path unless current_user %>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to "Volunteer Info", volunteer_intro_path unless current_user %>
              </li>
            </ul>
          </li>

          <li>
            <%= link_to "Contact Us!", contact_path %>
          </li>
          <li>
            <%= link_to "Try it now!", users_path, method: :post unless current_user %>
          </li>
          <li>
            <%= link_to "Log Out", log_out_path if current_user %>
          </li>


        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

</header>
