<!doctype html>
<html>
  <head>
    <title>BSC Online</title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <%= favicon_link_tag "favicon.ico" %>
  </head>
  <body>
    <div class="container" id="main-container">
      <div class="row"></div>
    </div>
    <%= render 'layouts/nav' %>
    <%= render 'layouts/carousel' if controller_name == "pages" && !current_user %>

    <!-- Page Content-->
    <div class="container">
      <%= render 'shared/messages' %>
      <%= yield %> <!-- Without any arguments, yield will render the template of the current controller/action. For example, if I'm in the 'practices' controller & its index action, 'yield' will render the 'practices' index template. -->
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>