<!doctype html>
<html>
  <head>
    <!-- <title>CEP Online</title> -->
    <title><%= full_title(yield :title)%></title> <!-- see 'helpers/application_helper.rb' -->
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <link href='https://fonts.googleapis.com/css?family=Muli|Raleway|Lustria|Oswald|BenchNine|Six+Caps' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kanit' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//fast.fonts.net/jsapi/50070ebd-d81b-4d29-acc0-f8abd9040636.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <%= favicon_link_tag "favicon.ico" %>
    
    <meta property="og:url"         content="http://cityenglishproject.com/" />
    <meta property="og:type"        content="website" />
    <meta property="og:title"       content="CEP Home" />
    <meta property="og:description" content="ต้องการติดต่อกับเจ้าของภาษาเพื่อเรียนหรือฝึกพูดภาษาอังกฤษใช่หรือไม? ต้องการพูดภาษาอังกฤษด้วยสำเนียงที่ชัดเจนและมีความมั่นใจมากขึ้นใช่หรือไม่?" />
    <meta property="og:image"       content="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Step+Two.png" />

    <script src="https://maps.googleapis.com/maps/api/js">
    </script>

    <script>
    function initialize() { // google maps js
      var mapProp = {
        center:new google.maps.LatLng(13.72169, 100.52378),
        zoom:16,
        mapTypeId:google.maps.MapTypeId.ROADMAP
      };
      var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>

  <body>
    <%= render 'shared/messages' %>

      <%= yield %>

    <%= javascript_include_tag "application" %>
    <script src="//scdn.line-apps.com/n/line_it/thirdparty/loader.min.js" async="async" defer="defer"></script>
  </body>
</html>












