!!!
%html
  %head
    %title BSC Online
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body
    = render 'shared/header'
    = #render 'shared/messages'
    = yield
    &copy 2015 BSC change