<!doctype html>
<html>
  <head>
    <title><%= full_title(yield :title)%></title> <!-- see 'helpers/application_helper.rb' -->
    <%= Gon::Base.render_data %>

    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application" %>

    <%= favicon_link_tag "favicon.ico" %>
    
    <meta name="google-site-verification" content="Luq78CISO-21FTzhGzakIgYbiBTA55rH0ZKpVblw7Bg" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    
<!--     <meta property="og:url"         content="http://cityenglishproject.com/" />
    <meta property="og:type"        content="website" />
    <meta property="og:title"       content="City English Project" />
    <meta property="og:description" content="ต้องการติดต่อกับเจ้าของภาษาเพื่อเรียนหรือฝึกพูดภาษาอังกฤษใช่หรือไม? ต้องการพูดภาษาอังกฤษด้วยสำเนียงที่ชัดเจนและมีความมั่นใจมากขึ้นใช่หรือไม่? สามารถเยี่ยมชมเราได้ที่เว็บไซต์ www.cityenglishproject.com ค่ะ!" />
    <meta property="og:image"       content="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Step+Two.png" />

 -->
  </head>

  <body>
    <%= render 'shared/messages' %>

      <%= yield %>

    <link href="https://fonts.googleapis.com/css?family=Athiti|Chonburi|Kanit|Maitree|Prompt|Sriracha|Taviraj|Trirong|Josefin+Sans" rel="stylesheet">

    <script type="text/javascript" src="//fast.fonts.net/jsapi/278cd7f5-226e-4ad9-83fb-59e4a7eb4131.js">
    </script>

    <%= javascript_include_tag "application" %>

    <!-- <script src="//scdn.line-apps.com/n/line_it/thirdparty/loader.min.js" async="async" defer="defer"></script> -->

  </body>
</html>












