!!!
%html
  %head
    %title BSC Online
    %meta/
    %meta/
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body
    #main-container.container
      .row
    = render 'layouts/nav'
    = render 'layouts/carousel' if controller_name == "pages" && !current_user

    / Page Content
    .container
      = render 'shared/messages'
      = yield
      / Footer
      %footer
        .row
          .col-lg-12
            %hr
            %p &copy 2015 BSC Online