<!doctype html>
<html>
  <head>
    <title>CEP Online English</title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <%= favicon_link_tag "favicon.ico" %>
  </head>
  <body>
    <%= render 'layouts/nav' %>
    <%= render 'layouts/carousel' if controller_name == "pages" && !current_user %>

    <!-- Page Content-->
    <div class="container">
      <%= render 'shared/messages' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>