!!!
%html
  %head
    %title BSC Online
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body
    #main-container.container
      .row
        .row-xs-4
          = render 'shared/messages'
          = render 'shared/header'
        .row-xs-8
          = yield
      %footer
        &copy 2014 MyFLiX

