<!doctype html>
<html>
  <head>
    <!-- <title>CEP Online</title> -->
    <title><%= full_title(yield :title)%></title> <!-- see 'helpers/application_helper.rb' -->
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <link href='https://fonts.googleapis.com/css?family=Muli|Raleway|Lustria|Oswald|BenchNine|Six+Caps' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <%= favicon_link_tag "favicon.ico" %>
  </head>
  <body>
    <%= render 'shared/messages' %>

    <%= yield %>

    <%= javascript_include_tag "application" %>
    <script src="//scdn.line-apps.com/n/line_it/thirdparty/loader.min.js" async="async" defer="defer"></script>
  </body>
</html>